
.taulell {
    width: 800px;
    height: 800px;
    padding: 10px;
    background-color: DarkBlue;
    margin: 0 auto;
    box-shadow: 10px 10px 40px RoyalBlue;
}

.contenidor {
    height: 100px;
    width: 800px;
    background-color: ivory;
    padding: 0px;
    margin: 0 auto;
}



.casella {
    width: 100px;
    height: 100px;
    background: ivory;
    float: left;
    background-image: linear-gradient(45deg,black,grey);
}

.contenidor:nth-child(2n-1) .casella:nth-child(2n) {
    background-color: black;
    background-image: linear-gradient(45deg,white,grey);
}

.contenidor:nth-child(2n) .casella:nth-child(2n-1) {
    background-color: black;
    background-image: linear-gradient(45deg,white,grey);
}

.fitxa {
    background-color: grey;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    box-shadow: inset 4px 4px 25px black, 
                      1px 1px 1px gray;
}

.contenidor:nth-child(7) .fitxa:hover {
    position:relative;
    bottom: 100px;
    transition: 1s;
}

.contenidor:nth-child(2) .fitxa:hover {
    position:relative;
    top: 100px;
    transition: 1s;
}

.contenidor:nth-child(8) .fitxa:hover {
    position:relative;
    bottom: 200px;
    transition: 1s;
}

.contenidor:nth-child(1) .fitxa:hover {
    position:relative;
    top: 200px;
    transition: 1s;
}

.contenidor:nth-child(1) .fitxa, .contenidor:nth-child(2) .fitxa {
    background-color: yellow;
    background-image: radial-gradient(red,blue,red,blue,red,blue,red,blue,red);
}

.contenidor:nth-child(7) .fitxa, .contenidor:nth-child(8) .fitxa {
    background-color: brown;
    background-image: radial-gradient(white,purple,white,purple,white,purple,white,purple,white);
}


